                  /*VENTAS.HTML*/
.dep {
	position: relative;
	top: 80px;
	left: 110px;
}
.ventas {
	position: relative;
	left: 400px;
	top: 80px;
}
h1 {
	position: relative;
	left: 200px;
	font-size: 300%;
}

h2 {
	position: relative;
	bottom: 70px;
	left: 200px;
	font-size: 300%;

}

h5 {
	position: relative;
	bottom: 70px;
	left: 200px;
	font-size: 300%;
}

h3 {
	position: relative;
	bottom: 160px;
	left: 200px;
	font-size: 300%;

}

h4 {
	color: blue;
	font-size: 270%;
	position:relative;
	top: 80;
	bottom: 20px;
	left: 550px;

}
.txtnombre {
	font-size: 200%;
	position: relative;
	left: 450px;
	bottom: 85px;
}

.txtprecio {
	font-size: 200%;
	position: relative;
	left: 450px;
	bottom: 165px;

}

.txtcantidad {
	font-size: 200%;
	position: relative;
	left: 450px;
	bottom: 265px;

}

.bt_enviar {
	font-size: 300%;
	position: relative;
	bottom: 170px;
}

                        /*INVEVTARIO*/


h5 {
	position: relative;
	bottom: 70px;
	left: 200px;
	font-size: 300%;
}

.txtprecioc {
	font-size: 200%;
	position: relative;
	left: 450px;
	bottom: 165px;

}

.txtpreciov {
	font-size: 200%;
	position: relative;
	left: 450px;
	bottom: 165px;

}